{% extends 'mainapp/base.html' %}
{% block content %}
{% load static %}
<div class="lesson__teacher">
    <div class="lesson__teacher__items">
        <div>
            <p>№</p>
        </div>
        <div>
            <p>id</p>
        </div>
        <div>
            <p>Псевдоним</p>
        </div>
        <div>
            <p>
                Файл
            </p>
        </div>
        <div>
            <p>
                Комментарий
            </p>
        </div>
        <div>

        </div>
    </div>
    {% for item in home_work %}
    <div class="lesson__teacher__items">
        <div>
            <p class="lesson__teacher__items__text"></p>
        </div>
        <div>
            <p class="lesson__teacher__items__text">
                {% for user in item.submitted_by.all %}
                {{ user.id }}
                {% empty %}
                Нет отправителей.
                {% endfor %}
            </p>
        </div>
        <div>
            <p class="lesson__teacher__items__text">
                {% for user in item.submitted_by.all %}
                {{ user.email }}
                {% empty %}
                Нет отправителей.
                {% endfor %}
            </p>
        </div>
        <div>
            {% if item.files.count > 0 %}
                <a href="?download_response_id={{ item.id }}" target="_blank">Скачать</a>
            {% endif %}
        </div>
        <div>
            <p class="lesson__teacher__items__text">
                {{item.answer}}
            </p>
        </div>
        <div>
            {% if item.comment_teacher %}
            <p class="lesson__teacher__items__text">
                {{item.comment_teacher}}
            </p>
            {% else %}
            <a href="">Оставить комментарий</a>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}