{% extends 'mainapp/base.html' %}
{% block content %}
{% load static %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="module__change__form">
        <input type="text" name="name" placeholder="Название" maxlength="128" class="module_form" required="" id="id_name">
    </div>
    <div class="module__change__form">
        <input type="text" name="desc" placeholder="Описание" maxlength="128" class="module_form" required="" id="id_desc">
    </div>
    <div class="module__change__form">
        <label for="id_open" class="custom-checkbox">
            <input type="checkbox" name="open" class="module_form" id="id_open">
            <span >Открытие тестирования</span>
        </label> 
    </div>
    <div class="module__change__form">
        <button type="submit" class="module_form">Создать тестирование</button>
    </div>
</form>
{% endblock %}