{% extends 'mainapp/base.html' %}
{% block content %}
{% load static %}
<div class="lesson__teacher">
    <div class="lesson__teacher__items">
        <div>
            <p>№</p>
        </div>
        <div>
            <p>id</p>
        </div>
        <div>
            <p>Email</p>
        </div>
        <div>
            <p>
                Файл
            </p>
        </div>
        <div>
            <p>
                Комментарий
            </p>
        </div>
        <div>

        </div>
    </div>
    {% for item in final_response %}
    <div class="lesson__teacher__items">
        <div>
            <p class="lesson__teacher__items__text"></p>
        </div>
        <div>
            <p class="lesson__teacher__items__text">{{item.student.id}}</p>
        </div>
        <div>
            <p class="lesson__teacher__items__text">{{item.student.email}}</p>
        </div>
        <div>
            <a href="{{ item.file.url }}" target="_blank">Скачать</a>
        </div>
        <div>
            <p class="lesson__teacher__items__text">
                {{item.comment_student}}
            </p>
        </div>
        <div>
            {% if item.comment_teacher %}
            <p class="lesson__teacher__items__text">
                {{item.comment_teacher}}
            </p>
            {% else %}
            <a href="">Оставить комментарий</a>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}